<%- include("includes/head.ejs") %>
<body>
    <h1>This is the template made with ejs</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta quaerat debitis necessitatibus, ducimus beatae ad quas facilis rerum iusto ex quam optio eaque!</p>
    <button>Click me!</button>
</body>
</html>